# --- Arquivos que SEMPRE devem ser versionados
!.gitignore
!.gitattributes

# --- Pastas a ignorar
/Access/
/build/
/dist/
/venv/
/__pycache__/

# --- Arquivos a ignorar
*.mdb
*.accdb

# --- Arquivos sensíveis com tokens/chaves (NÃO versionar)
.env
token_github.txt
token_noexpire_publicrepo.txt
